nav {
    background-color: #62b1c9;
    color: rgb(15, 13, 13);
    padding: 0.1em;
  }
  
  nav h1 {
    margin: 0;
    font-size: 2rem; /*  font size */
    
  }
  
  .nav-content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem; /*  gap between elements */
    margin-top: 0.3rem; /* margin-top */
  }
  
  .nav-content input,
  .nav-content button {
    padding: 0.3rem; /* padding */
    margin: 0.1rem 0; /* margin */
    font-size: 0.9rem; /*font size */
    width: 100%; /* Full width */
    max-width: 300px; /*max width */
  }
  
  .add-transaction-form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  
  .add-transaction-form input {
    width: 100%; /* Full width */
    max-width: 300px; /*max width */
  }
  